Package: libiptc-dev
Source: iptables
Version: 1.8.2-2
Architecture: amd64
Maintainer: Debian Netfilter Packaging Team <pkg-netfilter-team@lists.alioth.debian.org>
Installed-Size: 94
Depends: libip4tc-dev (= 1.8.2-2), libip6tc-dev (= 1.8.2-2), libiptc0 (= 1.8.2-2)
Breaks: iptables-dev (<< 1.6.0-3)
Replaces: iptables-dev (<< 1.6.0-3)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.netfilter.org/
Description: Development files for libiptc
 The user-space iptables C library from the Netfilter xtables framework.
 .
 This library has been considered private for years (and still is), in the
 sense of changing symbols and backward compatibility not guaranteed.
 .
 This package provides development files and static libraries.
