Package: iptables-dev
Source: iptables
Version: 1.8.2-2
Architecture: amd64
Maintainer: Debian Netfilter Packaging Team <pkg-netfilter-team@lists.alioth.debian.org>
Installed-Size: 78
Depends: libip4tc-dev (>= 1.8.2-2), libip6tc-dev (>= 1.8.2-2), libiptc-dev (>= 1.8.2-2), libxtables-dev (>= 1.8.2-2)
Section: oldlibs
Priority: optional
Multi-Arch: same
Homepage: http://www.netfilter.org/
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
