Package: libxtables-dev
Source: iptables
Version: 1.8.2-2
Architecture: amd64
Maintainer: Debian Netfilter Packaging Team <pkg-netfilter-team@lists.alioth.debian.org>
Installed-Size: 104
Depends: libxtables12 (= 1.8.2-2)
Breaks: iptables-dev (<< 1.6.0-3)
Replaces: iptables-dev (<< 1.6.0-3)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.netfilter.org/
Description: netfilter xtables library -- development files
 The user-space interface to the Netfilter xtables kernel framework.
 .
 This package includes the development files of libxtables.
