Package: libip6tc0
Source: iptables
Version: 1.8.2-2
Architecture: amd64
Maintainer: Debian Netfilter Packaging Team <pkg-netfilter-team@lists.alioth.debian.org>
Installed-Size: 239
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.netfilter.org/
Description: netfilter libip6tc library
 The user-space iptables (IPv6) C library from the Netfilter xtables framework.
 .
 iptables IPv6 ruleset ADT and kernel interface.
 .
 This library has been considered private for years (and still is), in the
 sense of changing symbols and backward compatibility not guaranteed.
